@media screen and (max-width: 1440px) {
    .result-info,
    .business-content .item-wrap01 .text-data{
        width: 200px;
    }
    div.product-panel span strong b,
    div.product-panel h2{
        font-size: 12px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1660px) { 
    .result-info,
    .business-content .item-wrap01 .text-data{
        width: 280px;
    }
}