*{
    margin:0;
    padding: 0;
    border:0;
}

ol,
ul,
li{
    list-style:none;
}

i{
    font-style: initial;
}

b,
strong,
label{
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
a,
a:link,
a:hover,
a:active,
a:visited{
    text-decoration: none;
    color:#fff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.jspDrag{
    background: rgba(99,99,99,.5);
}